.gallery {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;

  margin: 0 auto;
  margin-top: 24px;

  list-style-type: none;
}
.gallery-item {
  width: calc((100% - 24px * 2) / 3);
  transition: scale 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.gallery-item:hover {
  scale: 1.04;
}
.gallery-link {
}
.gallery-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.sl-overlay {
  background: rgb(46, 47, 66) !important;
}

.sl-wrapper {
  button {
    color: white !important;
  }
  .sl-counter {
    color: white !important;
  }
}
